.Title {
    font-family: 'Cinzel', serif;
    height: 120px;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 3px #CE5937;
    text-align: center;
    padding: 8em 0 0 0;
    margin-top: 0;
    background-image: linear-gradient(white,rgba(0, 0, 0, 0.3)), url("./images/page2bg.jpg");
    background-size: 1200px;
    background-position: bottom ; 
    background-repeat: no-repeat;
}

.university {
    width: 900px;
	height: 200px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: rgba(17, 17, 17, 0.3) 0px 0px 6px;
    border-radius: 10px;
}


.university_photo {
    align-self: stretch;
    float:left;
    width: 22%;
    height: auto;
    margin-right: 20px;    
}

.university_info {
    width: 40%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 0;
    margin-right:5px;
    border-right: 2px solid #f1f1f1;
}

.university_name {
    font-size: 25px;
    line-height: 1.3;
    text-align: left;
    padding: 0;
    margin: 0 0 0.2em 0;
}

.university_address {
    font-size: 15px;
    margin-bottom: 0.5em;
    color:grey;
}

.badge {
    display: inline;
    height: 15px;
}

.national_rank {
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.national_rank span {
    color: #e63946;
    font-style: italic;
}

.tuition span{
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.sat_act_title {
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.numbers{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.tuition .tuition_fee{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.sat{
    width: 30%;
    padding: 10px;
    padding-top:10px;
    padding-left: 10px;
    margin-left: 5px;
    display: inline-block;
    border-bottom: 2px solid #f1f1f1;
} 

.subject_name {
    text-align: right;
}

.act {
    width: 30%;
    padding: 10px;
    padding-left: 10px;
    margin-left: 5px;
    display: inline-block;
}

.r_w{
    padding-left: 31px;
}

.math {
    padding-left: 42px;
}

.english {
    padding-left: 26px;
}

.act_math {
    padding-left: 42px;
}

.userInput {
    margin: 30px 300px;
    font-family: 'Roboto', sans-serif;
}

input[type=radio] {
    display: none;
}
input[type=radio] + label {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: -2px 1px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0) ;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=radio]:checked + label {
    font-family: 'Roboto', sans-serif;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e0e0e0;
}