<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/page2appV2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <title>University Finder Result</title>
</head>

<body style="margin: 0;">
    <div class="Title">
        <h1>Your University Recommendation</h1>
    </div>
    Reach schools: 
    <ul>
        <% for (var school of schools.reach){ %>
        <li><%= school.INSTNM %></li>
        <% } %>
    </ul> 

    Match schools: 
    <ul>
        <% for (var school of schools.match){ %>
        <li><%= school.INSTNM %></li>
        <% } %>
    </ul> 

    Safety schools: 
    <ul>
        <% for (var school of schools.safety){ %>
        <li><%= school.INSTNM %></li>
        <% } %>
    </ul> 
    <!--  
    <div class="pair">
        <div class="university">
            <div class="school badge">
                <img class="university_photo" src="./style/images/upenn.png">
            </div>

            <div class="university_info">
                <div>
                    <h3 class="university_name">University of Pennsylvania</h3>
                </div>
                <div class="university_address">34th & Spruce Street, Philadephia, PA</div>
                <div class="national_rank">
                    <img class="badge" src="./style/images/star.jpg">
                    National Rank: <span>#11</span>
                </div>
                <div class="admission_rate">Admission Rate: <span class="numbers">8.63%</span></div>
                <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">$51156</span>
                    &nbsp;Out-of-state: <span class="tuition_fee">$51156</span> </div>
            </div>
        </div>
        <div class="university">
            <div class="school badge">
                <img class="university_photo" src="./style/images/harvard.png">
            </div>

            <div class="university_info">
                <div>
                    <h3 class="university_name">Harvard University</h3>
                </div>
                <div class="university_address">34th & Spruce Street, Philadephia, PA</div>
                <div class="national_rank">
                    <img class="badge" src="./style/images/star.jpg">
                    National Rank: <span>#1</span>
                </div>
                <div class="admission_rate">Admission Rate: <span class="numbers">8.63%</span></div>
                <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">$51156</span>
                    &nbsp;Out-of-state: <span class="tuition_fee">$51156</span> </div>
            </div>
        </div>
    </div>

    <div class="pair">
        <div class="university">
            <div class="school badge">
                <img class="university_photo" src="./style/images/princeton.png">
            </div>

            <div class="university_info">
                <div>
                    <h3 class="university_name">Princeton University</h3>
                </div>
                <div class="university_address">34th & Spruce Street, Philadephia, PA</div>
                <div class="national_rank">
                    <img class="badge" src="./style/images/star.jpg">
                    National Rank: <span>#2</span>
                </div>
                <div class="admission_rate">Admission Rate: <span class="numbers">8.63%</span></div>
                <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">$51156</span>
                    &nbsp;Out-of-state: <span class="tuition_fee">$51156</span> </div>
            </div>
        </div>
        <div class="university">
            <div class="school badge">
                <img class="university_photo" src="./style/images/yale.png">
            </div>

            <div class="university_info">
                <div>
                    <h3 class="university_name">Yale University</h3>
                </div>
                <div class="university_address">34th & Spruce Street, Philadephia, PA</div>
                <div class="national_rank">
                    <img class="badge" src="./style/images/star.jpg">
                    National Rank: <span>#5</span>
                </div>
                <div class="admission_rate">Admission Rate: <span class="numbers">8.63%</span></div>
                <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">$51156</span>
                    &nbsp;Out-of-state: <span class="tuition_fee">$51156</span> </div>
            </div>
        </div>
    </div>
-->



</body>

</html>